body {
    font-family: Arial, sans-serif;
    background-image: url('images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.date-container {
    text-align: right;
    padding: 10px;
}

.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.content-section {
    display: none;
    padding: 20px;
}

#calendar-container {
    display: none;
}

.image-medium {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#mapid {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chartCanvas {
    width: 100%;
    height: 400px;
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 250px; /* Zvětšení minimální výšky */
}

.login-container input {
    display: block;
    width: calc(100% - 40px);
    margin: 20px auto; /* Zvýšení mezery kolem vstupních polí */
    padding: 15px; /* Zvýšení výšky vstupních polí */
    font-size: 16px;
}

#login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
